@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #36B864; /* x */
    --color-secondary: #666666;
    --color-background: #FFFFFF;
    --color-text: #111D15; /* x */
    --color-divider: #83A790;
    --color-accent-light: #F5F4F4;
    --color-accent-background: #e8faea;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Be Vietnam Pro", sans-serif;
    color: var(--color-text);
    box-sizing: border-box;
    justify-content: center;
    overflow-x: hidden;
    overflow-x: none;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 24px 135px;
    align-items: center;
    background-color: #FFFFFF;
}

/* MENU */
.menu-navegacao ul {
    display: flex;
    
}

.menu-navegacao ul li {
    margin-right: 29px; /* Espaçamento entre os itens */
    overflow-x: hidden;
}

.menu-navegacao ul li:last-child {
    margin-right: 0; /* Remove margem do último item */
    overflow-x: hidden;
}

.menu-navegacao a {
    font-size: 1rem;
    color: #4D4D4D;
    transition: all 0.5s;
    overflow-x: hidden;
}

.menu-navegacao a:hover{
    color: var(--color-primary);
    overflow-x: hidden;
}

.menu-action a {
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight: medium;
    padding: 12px 32px;
    border: none;
    border-radius: 6px;
    background-color: var(--color-primary);
    color: #FFFFFF;
    transition: all 0.5s;
    animation: animate-outline 1s ease-out infinite;
    overflow-x: hidden
}

.menu-action a:hover {
    background-color: #2a924f;
    overflow-x: hidden
}

/* HOME */ 
/* BANNER */ 
.home {
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    width: 100%;
    overflow-x: hidden
}

.home-container {
    background-color: #f3f3f396;
    padding: 30px;
    border: none;
    border-radius: 20px;
    width: 100%;
    overflow-x: hidden
}

.home {
    padding-top: 104px;
    padding-bottom: 104px;
    padding-left: 135px;
    padding-right: 695px;
    box-sizing: border-box;
    overflow-x: hidden
}

.home-text {
    margin-bottom: 40px;
    overflow-x: hidden
}

.home-text h4 {
    font-size: 1.25rem;
    margin-bottom: 12px;
    font-weight: 500;
    line-height: 120%;
    overflow-x: hidden
}

.home-text h2 {
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 115%;
    margin-bottom: 24px;
}

.home-text h5 {
    font-size: 1.125rem;
    font-weight: 300;
    color: #666666;
}

.home-buttons {
    display: flex;
    gap: 25px;
    justify-content: left;
}

.home-buttons a {
    padding: 17px 32px;
    border-radius: 6px;
    font-size: 1rem;
    border: none;
    background-color: var(--color-primary);
    color: #FFFFFF;
}

.home-buttons a:nth-child(1) {
    animation: animate-outline 1s ease-out infinite;
}

.home-buttons a:nth-child(1):hover{
    background-color: #2a924f;
    color: var(--color-background);
    transition: all 0.5s;
}

.home-buttons a:nth-child(2) {
    background: transparent;
    border: 1px solid #666666;
    color: var(--color-text);
    transition: all 0.5s;
}

.home-buttons a:nth-child(2):hover{
    border: none;
    background-color: var(--color-primary);
    color: #FFFFFF;
}

/* ABOUT */
.about {
    display: flex;
    gap: 110px;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 200px;
    padding-bottom: 200px;
}

/* padding: 75px 135px; */ 

.about-text {
    flex: 2;
}
.about-text h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 16px;
} 

.about-text p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 160%;
    color: #666666;
    margin-bottom: 32px;
}

.about-text .about-points {
   display: flex;
   gap: 40px;
   justify-content: left;
}

.about-text .about-points h5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.about-points .about-points-items {
    display: flex;
    align-items: baseline;
}

.about-points .about-points-items i {
    color: var(--color-primary);
}

.about-text .about-btn {
    display: flex;
    margin-top: 20px;
    gap: 24px;
    justify-content: left;
}

.about-text .about-btn a {
    padding: 12px 32px;
    border-radius: 6px;
    font-size: 1rem;
    display: inline-block; 
    transition: all 0.5s;
}

.about-text .about-btn a:nth-child(1) {
    animation: animate-outline 1s ease-out infinite;
}

.about-text .about-btn a:nth-child(1):hover {
    background-color: #2a924f;
}

.about-text .about-btn a:nth-child(2):hover {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-background);
}

.about-text .about-btn .reserve-btn {
    border: none;
    background-color: var(--color-primary);
    color: #FFFFFF;
}

.about-text .about-btn .learn-more-btn {
    border: 1px solid #666666;
    background-color: transparent;
    color: #666666;
}

.about-text .about-btn a:nth-child(2) {
    color: var(--color-text);
}

.about-img {
    flex: 1;
}
/* DIVISÃO */
.divider {
    border-top: 1px solid #83A790; /* Cor e espessura da linha */
    margin-top: 40px;
    margin-bottom: 40px;
}

/* SERVICES */ 
.services {
    padding: 75px 135px;
}

.services-title {
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.services-title h2 {
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 120%;
}

.services-title h5 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 12px;
}

.services-title p {
    font-size: 1rem;
    font-weight: 300; /* regular */
    line-height: 150%;
    color: #666666;
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 50px;
  
}

.card-item {
    padding-bottom: 30px;
    width: 90%;
}

.card-item h3 {
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 120%;

}

.card-item p {
    margin-bottom: 24px;
    text-align: justify;
    font-size: 1rem;
    font-weight: 300;
    color: #666666;
    line-height: 150%;
}

.card-item a {
    padding: 12px 20px;
    border: 1px solid #666666;
    border-radius: 6px;
    background: transparent;
    font-size: 1rem;
    color: var(--color-text);
    transition: all 0.5s;
}

.card-item a:hover {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-background);
}

/* QUOTE */ 
.quote {
    display: flex;
    padding: 200px 135px;
    gap: 100px;
}

.quote h5 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 120%;
}

.quote h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 32px;
}

.quote p {
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 300;
    color: #666666;
    margin-bottom: 52px;
}

.quote a {
    border: none;
    border-radius: 6px;
    padding: 22px 32px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-background);
    transition: all 0.5s;
    animation: animate-outline 1s ease-out infinite;
}

.quote a:hover {
    background-color: #2a924f;
}

/* TEAM */
.team {
    padding: 75px 135px;

}

.team-text {
    display: flex;
    gap: 50px;
}

.team-text h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 120%;
}

.team-text h5 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: auto;
    margin-bottom: 12px;
}

.team-text p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 150%;
    color: #666666;
}

.team-cards {
    display: flex;
    gap: 70px;
}

.person-card {
    width: 30%;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1); /* Adicionando a sombra */
}

.card-text {
    margin: 10px 20px;
}

.person-card h3 {
    margin-bottom: 16px;
}

.person-card p {
    margin-top: 16px;
    color: var(--color-secondary);
}

.person-card i {
    color: var(--color-primary);
}

/* PLANS */
.plans {
    padding: 100px 135px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
} 

.plans-text h5 {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 120%;
    color: #FFFFFF;
}

.plans-text h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;

}

.plans-cards {
    display: flex;
    border: none;
    border-radius: 20px;
    gap: 30px;
}

.plans .plans-cards .plans-item {
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1); /* Adicionando a sombra */
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    transition: all 0.5s;
    width: 380px;
}

.plans .plans-cards .plans-item:hover {
    margin-top: -30px;
    box-shadow: 4px 4px 12px rgb(0, 0, 0);
}

.plans .plans-cards .plans-item a {
    font-size: 1rem;
    line-height: 120%;
    padding: 10px 40px;
    color: var(--color-text);
    border: 1px solid #666666;
    border-radius: 6px;
    display: inline-block; /* Para funcionar como botão */
    margin-top: 3px;
    transition: all 0.5s;
}

.plans .plans-cards .plans-item a:hover {
    background-color: #30f174;
    color: #F5F4F4;
    border: none;
    
}

.plans .plans-cards .plans-item .plans-topics {
    display: flex;
    flex-direction: column;
}

.plans .plans-cards .plans-item .plans-topics h5 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 300%;
    color: #666666;
}

.plans .plans-cards .plans-item .plans-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans .plans-cards .plans-item .plans-title h4 {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 120%;
}

.plans .plans-cards .plans-item .plans-title h3 {
    background: #e8faea;
    color: var(--color-primary);
    padding: 25px 30px;
    margin-top: 24px;
    margin-bottom: 36px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;
}

.plans .plans-cards .plans-item .plans-title span {
    background: #e8faea;
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 300;
    line-height: 120%;
}

/* FEEDBACK */
.feedback {
    display: flex;
    gap: 80px;
    padding: 200px 135px;
    padding-bottom: 100px;
    align-items: start;
    align-content: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
}

.feedback .feedback-text {
    width: 50%;
}

.feedback .feedback-text h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 24px;
}

.feedback .feedback-text p {
    font-size: 1rem;
    line-height: 160%;
    color: #666666;
    text-align: justify;
}

.swiper-container {
    overflow: hidden; /* Garante que os slides não ultrapassem os limites do contêiner */
    width: 50%;
    padding-bottom: 10px;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out; /* Suaviza a transição entre os slides */
}

/* Ajuste do tamanho das setas e espaçamento */
.swiper-container .swiper-button-next, 
.swiper-container .swiper-button-prev {
    color: var(--color-secondary) !important;
    width: 40px; /* Ajusta a largura da seta */
    height: 40px; /* Ajusta a altura da seta */
}

.swiper-container .swiper-button-next {
    right: -1px; /* Ajusta o espaçamento à direita */
}

.swiper-container .swiper-button-prev {
    left: -1px; /* Ajusta o espaçamento à esquerda */
}


.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 30px;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: var(--color-primary);
    border-radius: 25px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclui padding e border no tamanho total do slide */
    width: calc(100% - 30px); /* Garante que o slide ocupe toda a largura disponível menos a margem */
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;  /* Ajuste a posição */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary) !important; /* Adicionando !important para garantir que o estilo seja aplicado */
}


.feedback .feedback-img-text h4 {
    font-size: 1.25rem;
    line-height: 20px;
    margin-bottom: 12px;
}

.feedback .feedback-img-text h5 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 12px;
    color: #666666;
}

.feedback .feedback-img-text p {
    font-size: 1rem;
    text-align: justify;
    line-height: 24px;
    margin-top: 16px;
    color: #666666;
    letter-spacing: 1%;
}

/* Estilo das estrelas */
.feedback-img-text .fa-star {
    color: var(--color-primary);
    margin-right: 5px;
}

.feedback .feedback-img-text img {
    width: 100px; /* Tamanho da imagem */
    height: 100px;
    border-radius: 50%; /* Deixa a imagem circular */
    object-fit: cover;
}

/* Estilo para a coluna esquerda */
.left-column {
    flex: 1; /* A coluna esquerda ocupará o espaço disponível */
    margin-right: 20px; /* Espaço entre as colunas */
}

/* Estilo para a coluna direita */
.right-column {
    width: 120px; /* Ajuste o tamanho da coluna direita conforme necessário */
    display: flex;
    justify-content: center; /* Centraliza a imagem na coluna direita */
    align-items: center;
}

/* Estilo da imagem de citação */
.quotation-icon {
    margin-top: 10px;
    width: auto !important; /* Tamanho da imagem de citação */
    height: 55px !important;
    border-radius: 0 !important; /* Garante que a imagem de citação não fique circular */
    object-fit: cover !important;/* Manter a imagem dentro do tamanho desejado sem distorção */
}

/* CONTACT */
.contact {
    padding: 75px 135px;
    display: flex;
    gap: 80px;
}

.contact .contact-info {
    width: 50%;
}
.contact .contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.contact .contact-info .contact-info-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
    gap: 30px;
    
}

.contact .contact-info .contact-info-icon {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: left;
    justify-items: left;
    background-color: #FBFBFB;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    width: 100%;
}

.contact .contact-info .contact-info-icon i {
    font-size: 1.875rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    color: var(--color-primary);
}

.contact .contact-info .contact-info-icon h4 {
    margin-bottom: 5px;
}

.contact .contact-info .contact-info-box .contact-info-icon h4 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 3%;
}

.contact .contact-info .contact-info-box .contact-info-icon p {
    font-size: 1rem;
    line-height: 120%;
    color: #666666;
}

.contact .contact-msg .contact-msg-text h5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 8px;
}

.contact .contact-msg .contact-msg-text h2 {
    font-size: 2.25rem;
    line-height: 120%;
    margin-bottom: 16px;
}

.contact .contact-msg .contact-msg-text p {
    font-size: 1rem;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 150%;
    letter-spacing: -1px;
    color: #666666;
}

.contact .contact-msg .forms button {
    background-color: var(--color-primary);
    color: var(--color-background);
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

.contact .contact-msg .forms button:hover {
    background-color: #2a924f;
}

.contact .contact-msg .forms form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact .contact-msg .forms form input {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    background-color: #FBFBFB;
}

.contact .contact-msg .forms form input::placeholder {
    color: #828080;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1rem;
}

.contact .contact-msg .forms form textarea {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    height: 60px;
    background-color: #FBFBFB;
}

.contact .contact-msg .forms form textarea::placeholder {
    color: #828080;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1rem;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-text);
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 80px;
}

.footer .footer-company, .footer .footer-more, .footer .social-medias{
    display: flex;
    flex-direction: column;
}

.footer .footer-logo p, .footer .footer-company h3, a, .footer .footer-more h3, a, .footer .social-medias h3, a {
    color: #FFFFFF;
}

.footer .footer-logo {
    width: 356px;
}

.footer .footer-logo p {
    margin-top: 24px;
    font-size: 1rem;
    line-height: 160%;
    text-align: justify;
}

.footer .footer-company h3, .footer .footer-more h3, .footer .social-medias h3 {
    font-size: 1.25rem;
    margin-bottom: 14px;
}

.footer .footer-company a, .footer .footer-more a, .footer .social-medias a {
    font-size: 1rem;
    font-weight: 300;
    line-height: 40px;
    transition: all 0.5s;
}

.footer .footer-company a:hover, .footer .footer-more a:hover, .footer .social-medias a:hover{
    color: var(--color-primary);
}

.divider-footer {
    border: 1px solid #ffffff71;
    margin-top: 64px;
    margin-bottom: 20px;
}

.footer-rights {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-rights h6 {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 8px;
    text-align: center;
}

.footer-rights h6 a {
    font-weight: bold;
    color: var(--color-primary);
}

.footer-rights-main {
    display: flex;
    gap: 20px;
}

/* ANIMATION */
@keyframes animate-outline {
    from {
        box-shadow: 0 0 0 0 var(--color-primary);
    }
    to {
        box-shadow: 0 0 0 10px rgba(79, 156, 249, 0);
    }
}